[role="containers:CssFlex"]
  // text-align center
  .father
    display flex
    width 800px
    height 500px
    background grey
    padding 10px

    .child
      background pink
      width 20%

    .special-child
      flex 1 0 auto
      background purple