[role="containers:CssEllipsis"]
  // text-align center
  margin-bottom 60px

  .same-content 
    color white
    background purple


  .single-line
    width 300px
    overflow hidden
    text-overflow ellipsis
    white-space nowrap

  .multi-line
    width 300px
    line-height 20px
    display -webkit-box
    -webkit-line-clamp 3
    -webkit-box-orient vertical
    overflow hidden

  .my-line
    height auto

  .pink-bg
    background pink
