[role="containers:CssStickyFooter"]
  // text-align center

  .container
    height 100vh
    overflow auto

    .content
      box-sizing border-box
      min-height 100%
      padding-bottom 60px
      background purple

      .test
        height 1000px

    .footer
      margin-top -60px
      height 60px
      background pink
